{% extends 'base.html.twig' %}

{% block title %}Artykuły{% endblock %}

{% block body %}
<style>
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
</style>

<a href="/admin/category">Kategorie</a>
<h1>Wszystkie artykuły</h1>
<a href="{{ path('article_create') }}" class="btn btn-success">Utwórz nowy</a>
{% if articles is not empty %}
<table class="table table-bordered">
  <thead>
    <tr>
    <th>Nazwa</th>
    <th>Kategoria</th>
    <th>Edytuj</th>
    <th>Usuń</th>
  </tr>
</thead>
<tbody>
  {% for article in articles %}
  <tr>
    <td><a href="/admin/article/{{ article.id }}">
      {{ article.title }}
    </a></td>
    <td>
      {{ article.category.name }}
    </td>
    <td><a href="/admin/article/update/{{ article.id }}">
      <i class="bi bi-wrench"></i>
    </a></td>
    <td><a href="/article/delete/{{ article.id }}">
      <i class="bi bi-trash"></i>
    </a></td> 
  </tr>
  {% endfor %}
  </tbody>

{% else %}
  <p>Brak artykułów!</p>
{% endif %}

{% endblock %}
